html {
	font-family: arial, sans-serif;
	letter-spacing: 0;
}

.topnav a {
	text-decoration: none;
	color: dimgrey;
}

#top a:hover {
	color: black;
}

.searchbox {
	display: block;
	position: relative;
	top: -42px;
	left: 130px;
	margin: 5px 0 0 5px;
	max-width: 630px;
	max-height: 65px;
	border-top: 1px solid #ccc9;
	border-left: 1px solid #ccccccb3;
	border-right: 1px solid #ccccccb3;
	border-radius: 1px;
	-o-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 2px 5px 2px 10px;
	box-shadow: 0 2px 2px 0 #ccc;
	background: #fff;
}

.searchbox:hover {
	box-shadow: 0px 2px 4px 2px #ccccccb3;
}

.searchbox input {
	width: 570px;
	height: 35px;
	border: medium none;	
}

.topa {	
	height: 45px;
	padding: 10px 10px 10px 10px;
	background: #cccccc4d;
	border-bottom: 1px solid #80808033;
}

#sign-in {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 15px;
	width: 60px;	
	word-spacing: 0;
	background-color: #5c83e0;
	color: white;
	padding: 9px 10px 9px 10px;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

a #sign-in:hover {
	background-color: #5c83e0cc;
}

.logo {
	display: block;
	width: 100px;
	padding-top: 5px;
}

.topnav {	
	height: 30px;
	border-bottom: 1px solid #80808033;
	padding: 10px 0 3px 0;
}

.topnav li {
	font-size: 12px;
}

.topnav li, ul {
	display: inline-block;
}

.nav1 {
	margin-left: 160px;
	height: 30px;
}

.nav2 {
	margin-left: 90px;
	height: 30px;
}

#tools {
	padding: 7px 15px;
	border: 1px solid white;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
}

#nboxs {
	padding: 7px 15px;
	cursor: pointer;
}

#tools:hover {
	border: 1px solid #80808080;
	color: grey;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#tools a:hover {
	color: grey;
}

#all {
	padding: 0 15px 10px 15px;
	border-bottom: 3px solid #3695ff;
	color: #3695ff;
	font-weight: bold;
}

.sepbar {
	margin-bottom: 20px;
}

.sepcont {
	width: 250px;
	margin: 20px 0 0 180px;
	font-size: 12px;
	color: grey;
}

.rescontent {
	width: 640px;
	margin-left: 160px;
}

.resarea {

}

h1 {
	font-size: 18px;
	padding-bottom: 5px;
	text-decoration: none;
}

.pl2 {
	color: green;
	font-size: 15px;
	padding-bottom: 5px;
}

.restext {
	font-size: 13px;
	color: #565656;
	padding-bottom: 30px;
	line-height: 1.3em;
}

.titles a {
	text-decoration: none;
	color: blue;
}

.titles a:visited {
	color: blue;
}

.titles a:hover {
	text-decoration: underline;
}

#pref {
	display: inline-block;
}

.content {
	min-width: 835px;
}

h2 {
	font-size: 18px;
}

.relatedsearches {
	padding: 15px 0 30px 0;
}

.relatedsearches #rstitle {
	padding-bottom: 25px;
}

.relatedsearches #rsl1 {
	margin-right: 30px;
}

.relatedsearches li {
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}

.relatedsearches li a {
	color: blue;
	text-decoration: none;
}

.relatedsearches li a:hover {
	color: blue;
	text-decoration: underline;
}

.botnav {
	height: 100px;	
}

.botnav li {
	display: inline-block;
	font-size: 12px;

}

.botnav a {
	color: blue;
}

.botnav a:visited {
	color: blue;
}

.logo2 {
	display: block;
	position: relative;
	margin-left: 120px;
}

.botnavl1 {
	margin-left: 180px;
	word-spacing: 9px;
}

.botnavl2 {
	margin-left: 55px;
}

#ten {
	margin-left: -5px;	
}

.botnav a li:hover {
	text-decoration: underline;
}

.botnav a li {
	color: #3695ff;
}

#one {
	color: black;
}

.searchimg {
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	top: 13px;
	left: 753px;
	background: #5c83e0;
	padding: 6px 5px 2px 5px;
}

a .searchimg:hover {
	background: #5c83e0cc;
}